@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif;
  color: #333; }

body {
  overflow: hidden; }

.main-title {
  position: absolute;
  z-index: 10;
  top: 30%;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding-left: 53px;
  font-size: 40px;
  font-weight: 400;
  transition: opacity 1s ease-in-out;
  text-align: center;
  letter-spacing: .5em;
  text-transform: uppercase; }
  .main-title span {
    color: #00a6de; }
  .main-title.menu-open {
    opacity: 0; }

.logo {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 10%;
  height: 10%;
  margin: auto auto;
  cursor: pointer; }
  .logo:hover .logo-hover {
    opacity: .5; }
  .logo.menu-open img {
    transform: rotate(0deg); }
  .logo.menu-open .logo-hover {
    opacity: 0; }
  .logo.menu-open .logo-active {
    opacity: 1; }
  .logo.menu-open.point1 img {
    transform: rotate(225deg);
    -webkit-filter: hue-rotate(161deg); }
  .logo.menu-open.point2 img {
    transform: rotate(315deg);
    -webkit-filter: hue-rotate(216deg); }
  .logo.menu-open.point3 img {
    transform: rotate(-315deg);
    -webkit-filter: hue-rotate(0deg); }
  .logo.menu-open.point4 img {
    transform: rotate(135deg);
    -webkit-filter: hue-rotate(280deg); }
  .logo img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 90px;
    height: 100%;
    height: 90px;
    margin: auto auto;
    transition: .4s opacity ease-in-out, .4s transform ease-in-out, .4s -webkit-filter ease-in-out;
    transform: rotate(-225deg);
    -webkit-backface-visibility: hidden; }
  .logo .logo-hover {
    opacity: .8; }
  .logo .logo-active {
    opacity: 0; }

.layer {
  position: absolute;
  transition: all .3s ease-in-out; }
  .layer .layer-title {
    position: absolute;
    padding: 20px;
    font-size: 26px;
    font-weight: 600;
    transition: .2s opacity ease-in-out;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #fff; }
  .layer.layer1 {
    z-index: 20;
    top: 0;
    width: 100%;
    height: 40vh;
    transform: translate(0, -100%);
    background: #f24a4a; }
    .layer.layer1 .layer-title {
      bottom: 0;
      left: 0; }
  .layer.layer2 {
    z-index: 19;
    top: 0;
    right: 0;
    width: 44%;
    height: 100%;
    transform: translate(100%, 0);
    background: #f5b83d; }
    .layer.layer2 .layer-title {
      top: 45%;
      left: 0; }
  .layer.layer3 {
    z-index: 18;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 40vh;
    transform: translate(0, 100%);
    background: #00a6de; }
    .layer.layer3.start {
      height: 50vh;
      transform: translate(0, 0);
      opacity: .8; }
      .layer.layer3.start .layer-title {
        opacity: 0; }
    .layer.layer3 .layer-title {
      top: 0;
      right: 0; }
  .layer.layer4 {
    z-index: 17;
    top: 0;
    left: 0;
    width: 44%;
    height: 100%;
    transform: translate(-100%, 0);
    background: #24753f; }
    .layer.layer4 .layer-title {
      top: 45%;
      right: 0; }
  .layer.menu-open {
    cursor: pointer; }
    .layer.menu-open.layer1 {
      transform: translate(44%, 0); }
    .layer.menu-open.layer2 {
      transform: translate(0, 0); }
    .layer.menu-open.layer3 {
      transform: translate(-44%, 0); }
    .layer.menu-open.layer4 {
      transform: translate(0, 0); }
  .layer.closed.layer1 {
    transform: translate(0, -100%); }
  .layer.closed.layer2 {
    transform: translate(100%, 0); }
  .layer.closed.layer3 {
    transform: translate(0, 100%); }
  .layer.closed.layer4 {
    transform: translate(-100%, 0); }
  .layer.active.layer1 {
    transform: translate(0%, 0); }
  .layer.active.layer2 {
    transform: translate(0, 0); }
  .layer.active.layer3 {
    transform: translate(0%, 0); }
  .layer.active.layer4 {
    transform: translate(0, 0); }

.clouds {
  width: 100%;
  height: 50vh;
  transition: .5s opacity ease-in-out .2s;
  opacity: 1;
  background: #0aa9df; }
  .clouds.menu-open {
    opacity: 0; }
  .clouds .cloud {
    position: absolute;
    top: 0;
    left: -1920px;
    width: 5760px;
    height: 50vh; }
    .clouds .cloud.cloud1 {
      z-index: 3;
      -webkit-animation: drift 90s linear infinite;
      animation: drift 90s linear infinite;
      background: url(../images/cloud1.png) left top repeat-x; }
    .clouds .cloud.cloud2 {
      z-index: 2;
      -webkit-animation: drift 200s linear infinite;
      animation: drift 200s linear infinite;
      background: url(../images/cloud2.png) left top repeat-x; }
    .clouds .cloud.cloud3 {
      z-index: 1;
      -webkit-animation: drift 350s linear infinite;
      animation: drift 350s linear infinite;
      background: url(../images/cloud3.png) left top repeat-x; }

@keyframes drift {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(1920px); } }

/*# sourceMappingURL=style.css.map */
