$green: hsl(500,53%,30%);
$yellow: hsl(40,90%,60%);
$red: hsl(0,87%,62%);
$white: #fff;
body {
    overflow: hidden;
}
.main-title {
    position: absolute;
    z-index: 10;
    top: 30%;
    right: 0;
    left: 0;

    margin: 0 auto;
    padding-left: 53px;

    font-size: 40px;
    font-weight: 400;

    transition: opacity 1s ease-in-out;
    text-align: center;
    letter-spacing: .5em;
    text-transform: uppercase;
    span {
        color: $blue;
    }
    &.menu-open {
        opacity: 0;
    }
}

.logo {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 10%;
    height: 10%;
    margin: auto auto;

    cursor: pointer;
    &:hover {
        .logo-hover {
            opacity: .5;
        }
    }
    &.menu-open {
        img {
            transform: rotate(0deg);
        }
        .logo-hover {
            opacity: 0;
        }
        .logo-active {
            opacity: 1;
        }
        &.point1 {
            img {
                transform: rotate(225deg);

                -webkit-filter: hue-rotate(161deg);
            }
        }
        &.point2 {
            img {
                transform: rotate(315deg);

                -webkit-filter: hue-rotate(216deg);
            }
        }
        &.point3 {
            img {
                transform: rotate(-315deg);

                -webkit-filter: hue-rotate(0deg);
            }
        }
        &.point4 {
            img {
                transform: rotate(135deg);

                -webkit-filter: hue-rotate(280deg);
            }
        }
    }
    img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: block;

        width: 90px;
        height: 100%;
        height: 90px;
        margin: auto auto;

        transition: .4s opacity ease-in-out, .4s transform ease-in-out, .4s -webkit-filter ease-in-out;
        transform: rotate(-225deg);

        -webkit-backface-visibility: hidden;
    }
    .logo-hover {
        opacity: .8;
    }
    .logo-active {
        opacity: 0;
    }
}

.layer {
    position: absolute;

    transition: all .3s ease-in-out;
    .layer-title {
        position: absolute;

        padding: 20px;

        font-size: 26px;
        font-weight: 600;

        transition: .2s opacity ease-in-out;
        letter-spacing: 5px;
        text-transform: uppercase;

        color: $white;
    }
    &.layer1 {
        z-index: 20;
        top: 0;

        width: 100%;
        height: 40vh;

        transform: translate(0, -100%);

        background: $red;
        .layer-title {
            bottom: 0;
            left: 0;
        }
    }
    &.layer2 {
        z-index: 19;
        top: 0;
        right: 0;

        width: 44%;
        height: 100%;

        transform: translate(100%, 0);

        background: $yellow;
        .layer-title {
            top: 45%;
            left: 0;
        }
    }
    &.layer3 {
        z-index: 18;
        bottom: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 40vh;

        transform: translate(0, 100%);

        background: $blue;
        &.start {
            height: 50vh;

            transform: translate(0, 0);

            opacity: .8;
            .layer-title {
                opacity: 0;
            }
        }
        .layer-title {
            top: 0;
            right: 0;
        }
    }
    &.layer4 {
        z-index: 17;
        top: 0;
        left: 0;

        width: 44%;
        height: 100%;

        transform: translate(-100%, 0);

        background: $green;
        .layer-title {
            top: 45%;
            right: 0;
        }
    }
    &.menu-open {
        cursor: pointer;
        &.layer1 {
            transform: translate(44%, 0);
        }
        &.layer2 {
            transform: translate(0, 0);
        }
        &.layer3 {
            transform: translate(-44%, 0);
        }
        &.layer4 {
            transform: translate(0, 0);
        }
    }
    &.closed {
        &.layer1 {
            transform: translate(0, -100%);
        }
        &.layer2 {
            transform: translate(100%, 0);
        }
        &.layer3 {
            transform: translate(0, 100%);
        }
        &.layer4 {
            transform: translate(-100%, 0);
        }
    }
    &.active {
        &.layer1 {
            transform: translate(0%, 0);
        }
        &.layer2 {
            transform: translate(0, 0);
        }
        &.layer3 {
            transform: translate(0%, 0);
        }
        &.layer4 {
            transform: translate(0, 0);
        }
    }
}

.clouds {
    width: 100%;
    height: 50vh;

    background: #0aa9df;
    .cloud {
        position: absolute;
        top: 0;
        left: -1500px;

        width: 5760px;
        height: 50vh;
        &.cloud1 {
            z-index: 3;

            -webkit-animation: drift 90s linear infinite;
                    animation: drift 90s linear infinite;

            background: url(../images/cloud1.png) left top repeat-x;
        }
        &.cloud2 {
            z-index: 2;

            -webkit-animation: drift 200s linear infinite;
                    animation: drift 200s linear infinite;

            background: url(../images/cloud2.png) left top repeat-x;
        }
        &.cloud3 {
            z-index: 1;

            -webkit-animation: drift 350s linear infinite;
                    animation: drift 350s linear infinite;

            background: url(../images/cloud3.png) left top repeat-x;
        }
        &.cloud4 {
            z-index: 3;
            bottom: 0;

            transform: rotate(180deg);
            -webkit-animation: drift 90s linear infinite;
                    animation: drift 90s linear infinite;

            background: url(../images/cloud1.png) left bottom repeat-x;
        }
    }
}

@keyframes drift {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(1920px);
    }
}
